.loader{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__image{
        width: 200px;
        height: 200px;
        animation: loading 3s linear infinite;
    }
}
@keyframes loading {
    100%{
        transform: rotate(360deg);
    }
}