.rating {
    width: 100%;
    height: 400px;
    display: flex;
    position: relative;
    transition: 0.3s;
    &:hover{
    transform: scale(1.1);
    box-shadow: rgba(21, 154, 3, 0.473) 0px 22px 40px 4px;
    }
    &__num {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 700;
        font-size: 150px;
        line-height: 183px;
        color: #FFFFFF;
        z-index: 10;
        background: linear-gradient(90deg, #141414 45%, rgba(20, 20, 20, 0) 102.08%);
        padding-left: 14%;
    }

    &__image{
        position: absolute;
        right: 0;
        top: 0;
        width: 70%;
        height: 100%;
        vertical-align: bottom;
        z-index: -1;
    }
}