.swiper{
    padding:30px 100px !important;
}
.swiper-wrapper{
    height: 400px;
}

.swiper-button-prev,
.swiper-button-next {
    opacity: 1 !important;
    color: white !important;

    &.swiper-button-disabled {
        display: none;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-weight: 700;
    font-size: 30px;
}