.swiper{
    padding-left: 5%;
}
.swiper-wrapper{
    column-gap: 30px;
}
.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}