.swiper{
    padding-left: 5%;
}
.swiper-slide{
    width: 270px !important;
    margin-right: 25px;
}
.swiper-button-prev {
    left: 10px;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev,
.swiper-button-next {
    color: #fff;
}